.startQuiz {
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  border-radius: 16px;
  gap: 16px;
  padding: 32px;
  box-sizing: border-box;
  font-family: "Anta", sans-serif;
}

.startQuiz h1 {
  color: #f6f6f6;
  font-size: 48px;
}

.startQuiz img {
  width: 70%;
  border-radius: 16px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
}
