@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #693f93;
  width: 55%;
  height: 90%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3%;
  box-sizing: border-box;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
}

.modal>h1 {
  color: #201e1e;
  font-size: 36px;
  animation: fadeIn 0.5s ease; 
}

.modal-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
  animation: fadeIn 0.5s ease; 
}

.btn-modal>h2 {
  color: #201e1e;
  font-size: 20px;
}

.btn-modal {
  box-sizing: border-box;
  border: none;
  width: 350px;
  height: 250px;
  border-radius: 16px;
  background-color: #c6bfbf;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: 300ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-modal>img {
  width: 250px;
  height: 170px;
  border-radius: 16px;
}

.btn-modal:hover {
  background-color: #a5a1a1;
  transform: scale(1.03);
}

/* TELAS MENORES QUE 1366px  */

@media (max-width: 1366px) {
  .modal {
    padding: 10rem;
    width: 65%;
    height: 90%;
    gap: 5%;
  }

  .modal > h1 {
    width: max-content;
  }

  .btn-modal {
    width: 350px;
    height: 200px;
  }
  
  .btn-modal>img {
    width: 200px;
    height: 150px;
  }
}

/* TELAS MENORES QUE 852px  */

@media (max-width: 857px) {

  .modal {
    padding: 8rem;
  }

  .btn-modal > img {
    width: 175px;
    height: 120px;
  }

  .modal {
    width: 80%;
  }

  .modal > h1 {
    font-size: 28px;
  }
}

/* TELAS MENORES QUE 560px  */

@media (max-width: 560px) {

  .modal {
    gap: 15px;
    width: 90%;
    height: 70%;
    padding: 0;
  }

  .modal > h1 {
    font-size: 20px;
  }

  .modal-div {
    flex-direction: column;
    gap: 15px;
  }

  .btn-modal {
    flex-direction: row;
    width: 300px;
    height: 100px;
    justify-content: space-around;
  }

  .btn-modal>img {
    width: 100px;
    height: 75px;
  }

  .btn-modal>h2 {
    font-size: 16px;
  }
}

/* TELAS MENORES QUE 375px  */

@media (max-width: 375px) {

  .modal > h1 {
    font-size: 16px;
  }

  .btn-modal {
    width: 230px;
    height: 70px;
  }

  .btn-modal > img {
    width: 80px;
    height: 60px;
  }

  .btn-modal > h2 {
    font-size: 12px;
  }
}